.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 320px;
}

.mainContent {
  height: calc(100vh - 100px);
  padding-bottom: 25px;
  overflow-x: auto;

  &.playerIsOpen {
    padding-bottom: 100px;
  }
}

.extraBar {
  // background-color: #111;
  overflow: hidden;
  padding-bottom: 15px;
}
