.customInput {
  -webkit-appearance: none;
  height: 2px;
  background: #4a4a4a;
  border-radius: 16px;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  transition: all 0.25s linear;
  cursor: pointer;

  &:active {
    transition: all 0.05s linear;
  }

  // &:hover::-webkit-slider-thumb {
  //   background: white;
  // }
}

.customInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: transparent;
  transition: 0.1s ease-in-out;
}

.customInput::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  // box-shadow: none;
  // border: none;
  background: transparent;
}

// .customInput::-webkit-slider-thumb:active {
//   box-shadow: #ffffff50 0px 0px 0px 8px;
//   transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
//     left 350ms cubic- bezier(0.4, 0, 0.2, 1) 0ms,
//     bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
// }
